body {
  overflow: scroll;
}

.profileInput {
  padding-top: 100px;
  padding-left: 305px;
  /*display: inline-block;*/
  /*border-style: solid;*/
  width: 70%;
  height:75%;
  font-family: 'Open Sans', sans-serif;
}

.profileSave {
  display: inline;
  float: right;
}

.profileCancel {
  display: inline;
  float: right;
  margin-right: 1em;
  background-color: #0078AB;
}

.left {
  display: inline;
  margin-left: 1em;
  float: left;
  width: 47%;
}

.left input {
	border-style: none;
	border-bottom: solid;
	border-color: #f89829;
	background-color: #e5e2e0;
}

.right {
  display: inline-block;
  top: 228px;
  float: left;
  margin-left: 1em;
  width: 47%;
}

.right input {
	border-style: none;
	border-bottom: solid;
	border-color: #f89829;
	background-color: #e5e2e0;
}

.sample {
  padding-left: 2em;
  background-color: #e5e2e0;
}

/*CSS FOR ADD PROFILE BUTTONS*/
.addProfileButton {
  width:100%;
}
