*{
  margin:0
}

h1 {
  background-color: #fcd8ae;
  text-align: center;
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
}

header{
  background-color: #fcd8ae;
  padding: 18px 0;
  padding-right: 20px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:300px;
    height: 100%;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    background-color: #f89829;
}

.nav li a {
    display: block;
    border-bottom: 1px solid #ffffff;
    color: #fff;
    padding: 15px 16px;
    text-decoration: none;

}

.nav li a i{
  float:right;
}

.nav li a.active {
    background-color: #f89829;
    color: #fff;
}
.nav li a:hover {
    background-color: #555;
    color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

/* Set a style for all buttons */
.button {
   background-color: #f89829;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   font-family: 'Open Sans', sans-serif;
}

/* Add a hover effect for buttons */
.button:hover {
   opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
   width: auto;
   padding: 10px 18px;
   background-color: #f89829;
}

/* Center the avatar image inside this container */
.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  margin: auto;
  width: 25%;
  height: auto;
  top: 2em;
  background-color: rgba(255,255,255,0.5);
   padding: 16px;
}

/* The "Forgot password" text */
span.psw {
   float: right;
   padding-top: 16px;
}

.addButton{
  float:right;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   span.psw {
       display: block;
       float: none;
   }
   .cancelbtn {
       width: 100%;
   }
}
