body {
  background-color: #fcd8ae;
}

.loginbox {
  margin:auto;
  width: 25%;
  height: auto;
  position: relative;
  top: 2em;
  border-style: solid;
  border-width: 1px;
  padding: 5px 15px 10px 15px;
  font-size: 36px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans', sans-serif;
}

input[type=login_text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid #f89829;
}

input[id=password] {
  font-family: caption;
}

body {
  padding: 2%;
  padding-bottom: 10%;
}


.LoginButton {
	-moz-box-shadow: 0px 12px 14px -7px #c76a00;
	-webkit-box-shadow: 0px 12px 14px -7px #c76a00;
	box-shadow: 0px 12px 14px -7px #c76a00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89729), color-stop(1, #ff8800));
	background:-moz-linear-gradient(top, #f89729 5%, #ff8800 100%);
	background:-webkit-linear-gradient(top, #f89729 5%, #ff8800 100%);
	background:-o-linear-gradient(top, #f89729 5%, #ff8800 100%);
	background:-ms-linear-gradient(top, #f89729 5%, #ff8800 100%);
	background:linear-gradient(to bottom, #f89729 5%, #ff8800 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89729', endColorstr='#ff8800',GradientType=0);
	background-color:#f89729;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ed7d05;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:15px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a36421;
  position: relative;
  margin:auto;
}

.LoginButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff8800), color-stop(1, #f89729));
	background:-moz-linear-gradient(top, #ff8800 5%, #f89729 100%);
	background:-webkit-linear-gradient(top, #ff8800 5%, #f89729 100%);
	background:-o-linear-gradient(top, #ff8800 5%, #f89729 100%);
	background:-ms-linear-gradient(top, #ff8800 5%, #f89729 100%);
	background:linear-gradient(to bottom, #ff8800 5%, #f89729 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8800', endColorstr='#f89729',GradientType=0);
	background-color:#ff8800;
}
.LoginButton:active {
	position:relative;
	top:1px;
}
